<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo">
                <h4 class="nav_logo-name">CS</h4>
            </a>
            <div class="nav_list">
                <a href="#" th:href="@{/dashboard}" class="nav_link active"><i class='bx bxs-tachometer bx-sm'></i> <span class="nav_name">Dashboard</span> </a>
                <a href="#" th:href="@{/users}" class="nav_link"> <i class='bx bx-user nav_icon bx-sm'></i> <span class="nav_name">Manage Users</span> </a>
                <a href="#" th:href="@{/availableContacts}" class="nav_link"> <i class='bx bxs-contact bx-sm'></i> <span class="nav_name">Manage Contacts</span> </a>
                <a href="#" class="nav_link"> <i class='bx bxs-user-circle bx-sm'></i> <span class="nav_name">Profile</span> </a>
                <a href="#" class="nav_link"> <i class='bx bxs-cog bx-sm'></i> <span class="nav_name">Settings</span> </a>
            </div>
            <div class="logout mt-10">
                <a href="#" th:href="@{/logout}" class="nav_link"> <i class='bx bx-log-out nav_icon bx-sm'></i> <span class="nav_name">SignOut</span> </a>
            </div>
        </div>
    </nav>
</div>