{% extends "layout.html" %}
{% block content %}
    <!-- forgot password form starts here -->
    <section class="container login">
        <form action="" method="POST" class="p-3">
            <h3>Enter your Email</h3>
            <div class="form-group my-3">
              <label>Email address</label>
              <input type="email" class="form-control" placeholder="Enter email" name="email">
            </div>
            <button type="submit" class="btn btn-success mb-3">Submit</button><br>
          </form>
    </section>
<!-- Form password form ends here -->
{% endblock %}