<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Contact Sense | error</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link href="css/style.css" rel="stylesheet">
    </head>
        
        <body id="body-pd" class="users-page">
        <div class="container-xxl position-relative bg-white d-flex p-0 ">

            <!-- 404 Start -->
    <div class="container-fluid pt-4 px-4 my-4">
        <div class="my-4 row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1 fw-bold">404</h1>
                <h1 class="mb-4">Page Not Found</h1>
                <p class="mb-4">We’re sorry, the page you have looked for does not exist in our website!
                    Check if you have the necessary permissions to access this page or if you are connected to the internet.</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="#" th:href="@{/login}">Go Back To Home</a>
            </div>
        </div>
    </div>
    <!-- 404 End -->
        </div>
        
    </body>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>
