<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Contact Sense | Sign Up</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>
        
        <body id="body-pd">
        <div class="container-xxl position-relative bg-white d-flex p-0 ">
          <!-- Sign Up Start -->
        <div class="container-fluid">
                <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                        <form class="bg-light rounded p-4 p-sm-5 my-4 mx-3" method="post" th:action="@{/register/register}" th:object="${user}">
                            <!-- Error/info alert messages -->
                            <div>
                                <div th:if="${param.success}" class="alert alert-info alert-dismissible fade show row mt-2">
                                    Registration successful,
                                    please check your email to continue your registration.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                            </div>
                            <!-- Error/info alert messages -->
    
    
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <a href="index.html" class="">
                                    <h3 class="text-primary">ContactSense</h3>
                                </a>
                                <h3>Sign Up</h3>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingText" placeholder="username" th:field="*{name}">
                                <label for="floatingText">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" th:field="*{email}">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" th:field="*{password}">
                                <label for="floatingPassword">Password</label>
                            </div>
                            
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign Up</button>
                            <p class="text-center mb-0">Already have an Account? <a href="#" th:href="@{/login}">Log in</a></p>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Sign Up End -->
                
        </div>
            
         
        
    </body>
    <script src="js.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>
